<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://image.flaticon.com/icons/svg/17/17004.svg" id="icon" alt="User Icon" style="height: 70px;width: 70px;" />
    </div>

    <!-- Login Form -->
    <form >
      <label class="fadeIn second"> Username : {{userDet.username}} </label> <br/>
      <label class="fadeIn second"> Full Name : {{userDet.fullName}} </label> <br/>
      <label class="fadeIn second"> Date of birth : {{userDet.dob}} </label> <br/>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="javascript:;" (click)="onClick()">Logout</a>
    </div>

  </div>
</div>